.counter {
    margin: 15% 40%;
    color: darkcyan;
    border: 2px solid darkcyan;
    border-radius: 10px;
}

.counter-display,
.counter-display_max{
    display: flex;
    color: #222222;
    background-color: darkcyan;
    font-size: 48px;
    justify-content: center;
    border: 2px solid darkcyan;
    border-radius: 10px;
    padding: 30px;
    margin: 10px;
}

.counter-display_max {
    color: crimson;
}

.controls {
    display: flex;
    border: 2px solid darkcyan;
    border-radius: 10px;
    justify-content: space-around;
    padding: 10px;
    margin: 10px;
}

.control-btn,
.control-btn-disabled {
    color: #222222;
    background-color: darkcyan;
    border: 2px solid darkcyan;
    min-width: 100px;
    border-radius: 10px;
    padding: 5px 20px;
    margin: 10px;
    cursor: pointer;
}

.control-btn:active {
    color: darkcyan;
    background-color: #222222;
}

.control-btn-disabled {
    opacity: 40%;
}