.App {
    display: flex;
    justify-content: center;
    gap: 200px;
    margin: 15% auto;
}

.counter {
    max-width: 500px;
    color: darkcyan;
    border: 2px solid darkcyan;
    border-radius: 10px;
}

.display {
    display: flex;
    flex-direction: column;
    min-height: 150px;
    color: #222222;
    background-color: darkcyan;
    align-items: center;
    justify-content: center;
    border: 2px solid darkcyan;
    border-radius: 10px;
    padding: 30px;
    margin: 10px;
}

.display-count {
    font-size: 48px;
}

.display-count_max {
    font-size: 48px;
    color: crimson;
}

.setter-input {
    outline: none;
    border: none;
    border-radius: 10px;
    padding: 10px;
    margin: 10px;
}

.controls {
    display: flex;
    border: 2px solid darkcyan;
    border-radius: 10px;
    justify-content: space-around;
    padding: 10px;
    margin: 10px;
}

.control-btn {
    color: #222222;
    background-color: darkcyan;
    border: 2px solid darkcyan;
    min-width: 100px;
    border-radius: 10px;
    padding: 5px 20px;
    margin: 10px;
    cursor: pointer;
}

.control-btn:active {
    color: darkcyan;
    background-color: #222222;
}

.control-btn:disabled {
    opacity: 40%;
}